@charset "utf-8";
.article_list_tit{ background: #f2f2f2; position:fixed;left: 0;top:44px; z-index: 101;width: 100%; height: 40px; overflow: hidden;}
.article_list_tit li{ width:auto; margin:0 10px; display: inline-block;float: left; text-align: center;}

.article_list_tit li span{ display: inline-block;line-height: 40px; height: 40px; overflow: hidden; }
.article_list_tit li.on span{ color: #ff4f73; position: relative; }
.article_list_tit li.on span:after{
	content: "";position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 2px;
	background:#ff4f73;
	z-index: 3;}
.article_list_con li{ background: #fff; padding: 10px;position: relative; nin-height: 95px;}
.article_list_con li .tit{font-size: 14px; line-height: 30px;overflow: hidden; max-height: 60px;}
.article_list_con li .con{font-size: 12px; max-height: 44px;line-height: 22px; overflow: hidden;} 
.article_list_con li:after{
	 background-color: #ddd; content: ""; height: 1px; position: absolute;left: 0; bottom: 0; width: 100%;
-webkit-transform: scaleY(.5);
-moz-transform: scaleY(.5);
-ms-transform: scaleY(.5);
-o-transform: scaleY(.5);
transform: scaleY(.5);
z-index: 1;}
.article_list_con li.haveimg .text{width: 100%;padding-right: 105px;}
.article_list_con li.haveimg .text .con{height: 44px;}
.article_list_con li .img{ width: 95px; padding-bottom: 95px;display:inline-block;position:absolute;top:10px; right: 10px;
background: center no-repeat;
-webkit-background-size:cover;
background-size:cover;}
/**/
.article_con{ padding: 10px;}
.article_con .tit{ padding-bottom: 10px;} 
.article_con .tit h5{ font-size: 16px;} 
.article_con .text p{ margin: 10px 0;}
.article_con .text img{ width: 100%;}